// Font Stacks

$font-family-primary			: "Source Sans Pro", sans-serif;
$font-family-secondary			: "clavo", serif;

// Base Colors

$color-white					: #fff;
$color-black					: #444;

// Color Usage

$color-primary					: #ff432f;	// Orange
$secondary-color				: #126ad9;	// Blue
$dark-color						: #374654;	// Charcol blue