button {
	padding: 10px 45px;
	border-radius: 3px;
	border: none;
	background: $color-white;
	color: $color-primary;
	font-size: em(14);
	font-weight: 700;
	height: 45px;
	transition: all 400ms ease;
	opacity: 1;

	&:hover {
		opacity: 0.9;
	}
}