.footer {
	padding: 60px 10px;
	background-color: $dark-color;
	font-size: em(14px);
	color: $color-white;
	text-align: center;

	.logo {
		@include span-columns(12);
	}

	.links {
		@include span-columns(12);
		margin-top: 20px;
	}

	.copyright {
		margin-top: 20px;
		margin-bottom: 0;
	}
}