.header {
	background: url('../img/pattern.svg') repeat bottom;
	background-color: $color-primary;
	position: relative;
	overflow: hidden;

	.title {
		display: none;
		@include span-columns(6);
		color: $color-white;
		padding: 180px 0;

		@include media($mobile) {
			@include span-columns(12);
			@include omega;
			text-align: center;
			padding: 100px 0;
		}

		h1 {
			padding-right: 5%;
			margin-bottom: .85em;

			@include media($tablet) {
				padding-right: 0;
			}
		}
	}

	.device {
		@include span-columns(6);
		@include clearfix;
		text-align: center;

		img {
			position: absolute;
			bottom: -64px;
			right: 25%;
			margin-right: -140px;
			height: 100%;
		}

		.swiper-container {
			height: 300px;
			width: 150px;
			margin: 0;
			position: relative;
			top: 0;
			left: 0;

			.swiper-slide {
				position: absolute;
				bottom: 0;
				right: 0;
				background: grey;
			}			
		}

		@include media($mobile) {
			display: none;
		}
	}
}
